{% extends 'blogapp/base.html' %}

{% block title %}Acerca de mí{% endblock %}

{% block content %}
<h1>Acerca de mi</h1>
<p>Bienvenido a mi página "Acerca de mí". Aquí encontrarás información sobre el creador de este blog y el
    propósito de este proyecto.</p>
<h3>Creador:</h3>
<ul>
    <li><strong>Lucas Frazzetto</strong>: Una persona que trata de adquirir conocimientos nuevos.</li>
</ul>
<h3>Propósito:</h3>
<p>Este proyecto fue creado como parte de un aprendizaje práctico de Django. La idea es presentar una propuesta de
    producto Blog con todos los conocimientos adquiridos en este curso.</p>
{% endblock %}
